.header {
  grid-column: full-start/col-end 6;
  background-image: linear-gradient(
      rgba($color-secondary, 0.93),
      rgba($color-secondary, 0.93)
    ),
    url(../img/hero.jpeg);

  @media only screen and (max-width: $bp-medium) {
    grid-column: 1/-1;
  }

  @media only screen and (max-width: $bp-small) {
    padding: 5rem;
  }

  justify-content: center;

  padding: 8rem;
  padding-top: 4rem;

  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  row-gap: 1.5rem;

  background-position: center;
  background-size: cover;

  &__logo {
    height: 3rem;
    justify-self: center;
  }

  &__btn {
    justify-self: start;
    align-self: start;
  }

  &__seenon-text {
    display: grid;
    color: $color-grey-light-2;
    font-size: 1.6rem;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    column-gap: 1.5rem;

    &::before,
    &::after {
      content: "";
      height: 1px;
      display: block;
      background-color: currentColor;
    }
  }

  &__seenon-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;

    filter: brightness(70%);
    img {
      max-height: 2.5rem;
      max-width: 100%;
    }
  }
}
